<%- include('./partials/head.ejs') %>


    <div class="homePage">
      <a href="/" class="homePageButton"> Startpagina </a> | Ali Profiel
    </div>
   
    <section class="homePageBackground">
      <div class="middle">
        <h1>Ali's Profiel</h1>
        <a href="/proces" class="btn btn1"> Proces </a>
        <a href="/agenda" class="btn btn2"> Agenda | Logboek </a>
    </section>


<%- include('./partials/foot.ejs') %>
